@tailwind base;
@tailwind components;
@tailwind utilities;

/* About.css */

.option-item {
    list-style: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option-item:hover {
    background-color: #f2e1f7;
    color: #030303;
  }
  
  .skill-item:hover {
    background-color: #6b6b6b;
    color: #030303;
    cursor: pointer;
  }
  